<!--
<form action="/users" method="post" accept-charset="UTF-8">
  Username: <input type="text" name="user[username]"><br>
  Email: <input type="text" name="user[email]"><br>
  Password: <input type="password" name="user[password]"><br>
  Confirmation: <input type="password" name="user[password_confirmation]"><br>
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->

<!--
<%= form_tag("/users", method: "post") do %>
  <%= label_tag("user[username]", "Username:") %>
  <%= text_field_tag("user[username]") %><br>
  <%= label_tag("user[email]", "Email:") %>
  <%= text_field_tag("user[email]") %><br>
  <%= label_tag("user[password]", "Password") %>
  <%= password_field_tag("user[password]") %><br>
  <%= label_tag("user[password_confirmation]", "Confirmation:") %>
  <%= password_field_tag("user[password_confirmation]") %><br>
  <%= submit_tag("Submit") %>
<% end %>
-->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  Username: <%= f.text_field :username %><br>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>
<% end %>