<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PrivateEvents", root_path, id: "logo" %></li>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Events", events_path %></li>
        <% if logged_in? %>
          <li><%= link_to "#{current_user.name}", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>