<h1>New post</h1>
<div class="container">
  <%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>

    <%= f.submit "Publish" %>
  <% end %>
</div>      