<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :user_id %>
  <%= submit_tag 'Get User Photos' %>
   Don't know your ID? Get it at <a href="http://idgettr.com" target="_blank">idGettr</a>.
<% end %>

<% unless @user_id.nil? %>
  <h1><%= @user_id %></h1>

  <%= render_flickr_sidebar_widget(@user_id) %>

<% end %>