<% if current_user.attending?(@event) %>
  <%= form_for(current_user.rsvps.find_by(attended_event_id: @event.id), html: { method: :delete }) do |f| %>
    <%= f.submit "Cancel RSVP", class: "btn btn-warning btn-lg" %>
  <% end %>
<% else %>
  <%= form_for(current_user.rsvps.build(attended_event_id: @event.id)) do |f| %>
    <div><%= f.hidden_field :attended_event_id %></div>
    <%= f.submit "I'm attending", class: "btn btn-primary btn-lg" %>
  <% end %>
<% end %>