
<div class="page-header">
  <h1><%= @event.name %></h1>
</div>
<div class="col-md-6">
  <h4>Hosted by: <%= link_to @event.host.name, user_path(@event.host) %></h4>
  <h4>Description:</h4>
  <p><%= @event.description %></p>
  <h4>Location:</h4>
  <p><%= @event.location %></p>
  <h4>Date:</h4><p><%= @event.date %></p>

  <% if logged_in? && @event.date >= Time.now %>
    <% if current_user != @event.host %>
      <%= render 'attending' %> 
    <% end %>
  <% end %>
</div>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Event Attendees</h3>
    </div>
    <div class="list-group">
      <% @event.attendees.each do |attendee| %>
        <%= link_to attendee.name, user_path(attendee), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>